<!DOCTYPE html>
<html lang="ru">
<head>
    <style>
        @font-face {
            font-family: GothamPro;
            src: url(../fonts/gothampro.eot);
            src: url('fonts/gothampro.eot?#iefix') format('embedded-opentype'),
                 url('fonts/gothampro.woff') format('woff'),
                 url('fonts/gothampro.ttf') format('truetype'),
                 url('fonts/gothampro.svg#rsuregular') format('svg');
        }
    </style>
</head>
<body>
    <meta charset="UTF-8">
    <p>Здравствуйте, {firstname}</p>
    <p>Во вложении образец заявления на перенос отпуска для сотрудников ООО "ДИАЛЛ АЛЬЯНС".</p>
    <p>Заполните его, подпишите и передайте сотруднику Департамента по работе с персоналом.</p>
    <p>С уважением, <br>Департамент по работе с персоналом</p>
    <img src="https://sigmabot.ddns.net/chatbot/files/diall_mail_ava.jpg">
</body>
</html>
