<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <p>Здравствуйте, {fullname}</p>
    <p>Для подтверждения, что вы являетесь сотрудником компании ООО "Гринхаус", пожалуйста, отправьте код подтверждения боту «Персональный ассистент работника» в Telegram</p>
    <p>Код подтверждения: <b>{confirmationCode}</b></p>
    <p>С уважением, <br>Служба по работе с персоналом</p>
    <img src="https://chernuylabs.ru/hrbot_new/files/greenhouse_mail_ava.jpg">
</head>
<body>

</body>
</html>
